<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <?php include "layout/header.php" ?>

    <div class="main-content text-center">
      <header>
        <h3>SELAMAT DATANG</h3>
      </header>
    </div>

    <div class="main-content text-center">
      <main>
        <p>
          Silakan login untuk melanjutkan. Jika Anda belum memiliki akun, daftar
          terlebih dahulu.
        </p>
      </main>
    </div>

    <div class="d-grid gap-2 col-6 mx-auto">
      <a class="btn btn-primary btn-sm" href="login.php">Login</a>
      <a class="btn btn-primary btn-sm" href="register.php">Register</a>
    </div>
    <hr />

    <?php include "layout/footer.php" ?>
  </body>
</html>
